body {
    font-family: 'Microsoft yahei';
}
a {
    background-color: #55585a;
    text-indent: 2em;
    font-size: 14px;
    text-decoration: none;
    color: white;
    width: 230px;
    height: 40px;
    display: block;
    line-height: 40px;
}
a:hover {
    background-color: #ff6700;
}
.box {
    width: 1200px;
    height: 460px;
    background-color: pink;
    margin: 0 auto;
}
.left {
    background-color: #55585a;
    padding-top: 30px;
    width: 230px;
    height: 400px;
    float: left;
    padding-bottom: 30px;
}
.right {
    width: 970px;
    height: 460px;
    float: right;
}
.tu {
    height: 460px;
}